<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://mia-grotesk.s3.amazonaws.com/index.css" type="text/css" media="screen" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.23.0/polyfill.min.js"></script>
</head>
<body style="background-color:black;color:white;margin:0px;width:100vw; height: 100vh; overflow: hidden;">

<script>
var name = '__NAME__'
var imageString = '__IMAGES__'
var caption = `__CAPTION__`
</script>
<script src="./app.js"></script>

<style type="text/css">
img {
  position: absolute;
  top: 0;
  max-width: 100%;
}

.gradient-overlay {
  position: absolute;
  z-index: 1;
  width: 100vw;
  height: 100vh;
}

.caption {
  font-family: MiaGrotesk-Light;
  position: absolute;
  bottom: 4em;
  right: 6em;
  max-width: 43%;
  line-height: 3.7em;
  text-align: right;
}

.caption {
  z-index: 2;
}
.caption > * {
  font-size: 45px;
  margin: 0
}

.caption h1, .caption strong {
  font-family: MiaGrotesk-Bold;
}
</style>
</body>
</html>
