<html>
<head>
<link rel="stylesheet" href="https://mia-grotesk.s3.amazonaws.com/index.css" type="text/css" media="screen" />
</head>
<body>
<h1>Welcome to Third Thursday</h1>
<p>Major Sponsor:</p>
<img src="./ameriprise-logo.svg">
<!-- <h1>Welcome to Family Day</h1> -->
<!-- <p>Major Sponsor:</p> -->
<!-- <img src="./bank-of-america-logo.svg"> -->
<style type="text/css">
html {
  background: url("./mia-logo.svg") no-repeat;
  background-position: bottom left;
  background-size: 23vw;
}

body {
  font-family: MiaGrotesk-Black;
  font-size: 1.3vw;
  width: 57vw;
  margin: 29vh auto;
}

h1 {
  font-size: 4.4vw;
  letter-spacing: -1px;
}

p {
  font-family: MiaGrotesk-Regular;
  text-transform: uppercase;
}

img {
  max-width: 50%;
  margin-top: -7vh;
}
</style>
</body>
